<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li>
                <a href="/home" class="active"><i class="fa fa-dashboard fa-fw"></i> In&iacute;cio</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Clientes<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/clientes/manutencao">Manuten&ccedil;&atilde;o</a>
                    </li>
                    <li>
                        <a href="/clientes/importacao">Importa&ccedil;&atilde;o</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> A&ccedil;&otilde;es<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/acao/criar">Criar</a>
                    </li>
                    <li>
                        <a href="/acao/status">Verificar Status</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>