<% layout('default/layout') -%>
<div class="error-page">
<h2 class="headline text-yellow"> 404</h2>
<div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i> Oops! Página não encontrada.</h3>
    <p>
    Não podemos encontrar a página solicitada e já recebemos o problema para ser investigado.
    Enquanto isso, você pode <a href='/'>voltar para o início</a>.
    </p>
</div><!-- /.error-content -->
</div><!-- /.error-page -->